#mainButton {

  margin: 15px auto;
  width: 40vw;
  height: 40vw;
  border-radius: 35px;
  background-color: #E8F3FB;
  display: block;
}

.buttonImage{
  width: 60%;
  display: block;
  margin: 8px auto auto;
}
p{
  text-align: center;
  color: #536D8C;
  margin-left: 5px;
  font-size: 20px;
}

.plus{
  position: absolute;
  top: 0;
  right: 16px;
}
