<div id="mainButton" class="shadow p-3 mb-5 bg-white">
  <img src="../../assets/images/plus.png" alt="" class="plus" *ngIf="isAddButton" width=32>
  <img [src]="imgSrc" alt="" class="buttonImage">
  <p>{{text}}</p>
</div>
