body, html {
  height: 100%;
  color: #536D8C;
}
app-main-screen-button{
  width: 80vw;
  height: 80vw;
}
.container {
  height: 100vh;
  padding-top: 36px;
  background-image: url("src/assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h5{
  color: #536D8C;
  text-align: center;
}

#editButton {
  border-radius: 25px;
  border: 1px solid white;
  background-color: transparent;
  color: #536D8C;
}

#menu{
  margin-top: 72px;
}

#logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
