<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h5>my profile</h5>
    </div>
    <div class="col">
      <button id="editButton">Edit profile</button>
    </div>
  </div>
  <app-user></app-user>
  <div id="menu">
    <div class="row">
      <div class="col">
        <app-main-screen-button
          [text]="'buddies'"
          [imgSrc]="'../../assets/images/pawprint.png'"
          [isAddButton]="true">

        </app-main-screen-button>
      </div>
      <div class="col">
        <app-main-screen-button
          [text]="'calendar'"
          [imgSrc]="'../../assets/images/calendar.png'"
          [isAddButton]="true">

        </app-main-screen-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-main-screen-button
          [text]="'friends'"
          [imgSrc]="'../../assets/images/support.png'"
          [isAddButton]="true">

        </app-main-screen-button>
      </div>
      <div class="col">
        <app-main-screen-button
          [text]="'localization'"
          [imgSrc]="'../../assets/images/pin.png'"
          [isAddButton]="false">

        </app-main-screen-button>
      </div>
    </div>
  </div>
  <img src="../assets/images/logo.png" alt="" id="logo">
</div>
